.u-section-1 .u-sheet-1 {
  min-height: 1116px;
}

.u-section-1 .u-text-1 {
  font-family: monogram;
  font-size: 6rem;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}@font-face {
  font-family: 'monogram';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/monogram.ttf);
}