.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-image-1 {
  width: 299px;
  height: 299px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: monogram;
  font-size: 4.5rem;
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 64px;
  min-height: 16px;
  width: 212px;
  min-width: 68px;
  margin: 80px auto 45px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-2 .u-image-1 {
  min-height: 608px;
  background-image: url("images/download20220804124716.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  min-height: 304px;
  background-image: url("images/download20220705194944.png");
  background-position: 50% 12.18%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: monogram;
  margin: 37px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: monogram;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  width: 107px;
  height: 24px;
  font-family: monogram;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-2 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 300px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-video-1 {
  height: 500px;
  margin: 50px 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-video-1 {
    height: 404px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-3 .u-video-1 {
    height: 310px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-3 .u-video-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .embed-responsive-1 {
    width: 261%;
    left: -81%;
    height: 100%;
    top: 0%;
  }
}@font-face {
  font-family: 'monogram';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/monogram.ttf);
}